body{
	background-image: url("https://libraries.uh.edu/images/branches_anderson_02.png");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

.container{
	background-color: rgba(250, 23, 23, 0.672);
	margin: auto;
	padding: 20px;
	width: 40%;
}

input[type = text], input[type = password]{
	background-color: white;
	padding: 10px;
	margin: 10px;
	box-sizing: border-box;
}

input[type=submit]{
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	margin: 10px;
	border: none;
	cursor: pointer;
	width: 100%;
}

h1{
	text-align: center;
}