/* Apply the same background color and text color */
body {
    background-color: #fffaf9;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(153, 46, 46);
    /* Text color */
}

/* Style the headings */
h1,
h2 {
    color: rgb(153, 46, 46);
    border-bottom: 2px solid rgb(153, 46, 46);
    /* Add a bottom border */
    padding-bottom: 5px;
    /* Add some space between the border and text */
}

/* Style the form elements */
label {
    font-weight: bold;
    color: rgb(128, 144, 207);
    /* Change label text color */
}

/* Style the password input field */
input[type="password"] {
    border: 1px solid rgb(128, 144, 207);
    border-radius: 3vw;
    padding: 0.8vw;
    font-size: 1.5vw;
    background-color: white;
    color: rgb(153, 46, 46);
}

/* Style the submit button */
input[type="submit"] {
    border: 0;
    border-radius: 2vw;
    padding: 0.8vw 2vw;
    font-size: 1.3vw;
    background-color: rgb(128, 144, 207);
    color: white;
}

/* Style the link */
a {
    text-decoration: none;
    color: rgb(153, 46, 46);
}

.logout-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.logout-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Additional styling for profile information section */
.profile-section {
    background-color: rgb(255, 238, 222);
    /* Light background color */
    padding: 20px;
    border: 1px solid rgb(128, 144, 207);
    border-radius: 5px;
    margin-top: 20px;
}


/* Updated CSS class for generic tables */
.generic-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.generic-table th,
.generic-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.generic-table th {
    background-color: #f2f2f2;
}

.generic-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.generic-table tbody tr:nth-child(odd) {
    background-color: #fff;
}


/* Add custom styling for other elements as needed */